{% extends '_modal.html' %}
{% load i18n %}
{% block modal_id %}inception_group_bulk_update_modal{% endblock %}
{% block modal_class %}modal-lg{% endblock %}
{% block modal_title%}{% trans "Update inception group" %}{% endblock %}
{% block modal_body %}
{% load bootstrap3 %}
<p class="text-success text-center">{% trans "Hint: only change the field you want to update." %}</p>
<form method="post" class="form-horizontal" action="" id="fm_inception_group_bulk_update">
    <div class="form-group">
        <label for="assets" class="col-sm-2 control-label">{% trans 'Inceptions' %}</label>
        <div class="col-sm-9" id="select2-container">
            <select name="inceptions" id="select2_groups" data-placeholder="{% trans 'Select Incetpion' %}" class="select2 form-control m-b" multiple>
                {% for inception in inceptions %}
                    <option value="{{ inception.id }}">{{ inceptions.host }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


</form>
{% endblock %}
{% block modal_confirm_id %}btn_inception_group_bulk_update{% endblock %}