.git
.idea/
logs/*.log
.github
tmp/*
django.db
celerybeat.pid
__pycache__/
*.pyc
data/*
config.py
/*/*/migrations/
.DS_Store
apps/.DS_Store
migrations/
apps/static/.DS_Store
docs/.DS_Store
docs/_static/.DS_Store
docs/_static/img/.DS_Store
